.list {
    margin: 0;
    padding: 0;
    padding-top: 21px;
    padding-bottom: 8px;
    list-style: none;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 0px 0px 3px 3px;
}