.list {
  width: 688px;
  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 8px;
  list-style: none;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.savedOrganizationList {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
