

.btn {
    padding-top:8px;
    padding-bottom:12px;
    padding-left:24px;
    padding-right:25px;
    background-color:#E5E5E5;
    border:none;
}
.text {
    color: #B9B9B9;
}
.activeBtn {
    font-weight: bold;
    border-top: 2px solid #F50634;
    background-color:#FFFFFF;
    outline: none;
}
.btn:active, .btn:focus { outline: none; }

.activeText {
    color: #2B2829;
}

.savedOrganizationsLength {
    color: #2B2829;
}
.activeSavedOrganizationsLength {
    color:#F50634;
}