

.tab {
    padding-top:8px;
    padding-bottom:12px;
    padding-left:24px;
    padding-right:25px;
    background-color:#E5E5E5;
    border:none;
    cursor: pointer;
    outline: none;
    transition: background-color 200ms ease-in;
}

.tabText {
    color: #B9B9B9;
    transition: color 200ms ease-in;
}
.tabActiveText {
    font-weight: bold;
}

.activeTab {
    border-top: 2px solid #F50634;
    background-color:#FFFFFF;
}

.tab:active, .tab:focus { outline: none; }

.tabActiveText, .savedOrganizationsLength {
    color: #2B2829;
}

.activeSavedOrganizationsLength {
    color:#F50634;
}