@import-normalize;

body {
  margin: 0;
  padding: 0;
  min-width: 768px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 23px;
  background-color: #e5e5e5;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.app-container {
  width: 736px;
  margin: 0 auto;
}

.pages-container {
  width: 736px;
  min-height: 568px;
  padding: 30px 20px;
  margin-bottom: 203px;
  background-color: #ffffff;
}

.app-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 49px;
  color: #2b2829;
}

.pages-positioning-container {
  position: relative;
}

.page {
  position: absolute;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
