.orgSearchPageItemContainer {
  padding-top: 7px;
  padding-bottom: 4px;
  padding-left: 23px;
  padding-right: 23px;
  cursor: pointer;
}

.orgSearchPageItemContainer:hover {
  background-color: #f8f8f8;
}

.savedOrgsPageItemContainer {
  position: relative;
  padding: 16px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  margin-bottom: 21px;
}

.savedOrgsPageItemSavedOrgDetail {
  margin: 0;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 188.55%;
}

.savedOrgsPageItemSavedOrgDetailName {
  margin-right: 5px;
  color: #777777;
}

.orgsSearchPageItemOrgNameContainer {
  font-size: 14px;
  line-height: 140%;
}

.savedOrgsPageItemOrgNameContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.orgSearchPageItemOrgInn {
  margin-right:5px;
}

.savedOrganizationListOrgName {
  font-size: 18px;
  line-height: 188.55%;
}

.savedOrgsPageItemMoreDetailsContainer {
  position: absolute;
  bottom: 5px;
  right: 12px;
  margin: 0;
  cursor: pointer;
}

.savedOrgsPageItemMoreDetailsPositioningWrapper {
  position:relative;
  padding-right:15px;
  margin:0;
}

.savedOrgsPageItemMoreDetailsText {
  color: #777777;
  text-decoration-line: underline;
}

.savedOrgsPageItemArrow {
  display: inline-block;
  position: absolute;
  padding: 3px;
  top:8px;
  right: 2px;
  border: solid #777777;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  transition: transform 0.4s;
}

.savedOrgsPageItemArrowActive {
  top:12px;
  transform: rotate(-135deg);
}

.savedOrgsPageItemTrashCan {
  width:16px;
  height:18px;
  cursor: pointer;
  transition: scale 0.4s;
}

.savedOrgsPageItemTrashCan:hover {
  transform: scale(1.2);
}

.savedOrgsPageItemExpansionPanelWrapper {
  overflow: hidden;
}

.savedOrgsPageItemExpansionPanelWrapperAcitve {
  margin-bottom: 5px;
}
