.container {
  display: flex;
  margin-top: 15px;
}

.text {
  margin-left: 20px;
  font-size: 14px;
  line-height: 140%;
  color: #777777;
}

.isResultEmpty {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.orgSearchPage {
  margin-top: 10px;
}
