.container {
    display: flex;
    margin-top:48px;
}

.text {
margin-left: 32px;
font-size: 14px;
line-height: 140%;
color: #777777;
}

.isResultEmpty {
font-size: 14px;
font-style:bold;
line-height: 140%;
color: #777777;
}